* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333333;
    height: 45px;
    color: white;
}

#laptop-image {
    max-width: 200px;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Bank Work Laptops" "Komputer Komputer Komputer" ". . .";
}

.bank, .work, .laptops, .komputer {
    background-color: rgb(0, 0, 0, 0.04);
    border-radius: 10px;
    margin: 10px;
}

.bank, .work, .laptops {
    background-color: rgb(0, 0, 0, 0.04);
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.bank {
    grid-area: Bank;
    justify-self: left;
    margin-left: 1em;
    
    
}

.work {
    grid-area: Work;
    justify-self: center;
}

.laptops {
    grid-area: Laptops;
    justify-self: right;
    margin-right: 1em;
}

.komputer {
    grid-area: Komputer;
}




/* laptop-container*/

.laptop-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "laptop-image laptop-title-description laptop-price-buynow" ". . ." ". . .";
    overflow-y: hidden;
    max-height: 220px;
}

.laptop-image {
    grid-area: laptop-image;
    padding: 10px;

}
.laptop-image > img {
    align-self: center;
    justify-self: center;
}
#laptop-features{
    font-size: 0.8em;
    list-style: none;
}
#laptop-features :nth-child(odd){
    background-color:rgba(0,0,0,0.09);
}
#laptop-name{
    margin: 0.5em 0.2em;
}
#laptop-description{
    margin: 0em 0.2em;
    overflow: auto;
}
#laptop-price{
    width: auto;
}
.laptop-title-description {
    grid-area: laptop-title-description;
    
}

.laptop-price-buynow {
    grid-area: laptop-price-buynow;
    margin: auto;
}