/*#region General */

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 100vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0.3fr 2fr 2fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
}

input:focus {
    outline: none;
}

#bank, #work, #laptop, #selected-laptop {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 5px;
}

#bank>div>label, #work>div>label, #laptop>ul>li {
    font-size: 0.8em;
}

#get-loan>div>button, #selected-laptop>div>div>button{
    min-width: 120px;
    max-width: 120px;
    padding: 6px;
    border-radius: 5px;
}

/*#endregion */

/*#region Navbar */

#navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    background-color: #333333;
}

#navbar-text {
    padding-left: 2.5%;
    color: white;
}

/*#endregion */

/*#region Bank */

#bank {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 400px;
    overflow-y: auto;
    margin: 20px;
}

#bank-balance-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    font-size: 1.2em;
}

#bank-balance {
    text-align: right;
    max-width: 50%;
    min-width: 50%;
}

#loan-container {
    display: flex;
    justify-content: space-between;
  
}

#loan-container> label {
    word-wrap: break-word;
}

#loan{
    text-align: right;
    max-width:50%;
    min-width:50%;
}
#get-loan {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #4af0a0;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*#endregion */

/*#region Work */

#work {
    grid-column-start: 2;
    grid-row-start: 2;
    margin: 20px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pay-balance-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pay-balance {
    max-width: 50%;
    min-width: 50%;
    text-align: right;
}

#work-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#work-buttons>button {
    min-width: 50px;
    max-width: 85px;
    margin-bottom: 5px;
    padding: 6px;
    margin: 3px;
    border-radius: 5px;
}

#repay-loan {
    background-color: rgb(248, 137, 97);
}

#deposit-to-bank {
    background-color: #edef4c;
}

#get-paid {
    background-color: #345ceb;
    color: white;
}

/*#endregion */

/*#region laptop */

#laptop {
    grid-column-start: 3;
    grid-row-start: 2;
    margin: 20px;
    display: flex;
    flex-direction: column;
    height: 15em;
    padding: 5px;
}

#laptop-features>li {
    list-style-type: none;
    padding-left: 3px;
}
#laptops{
    max-width:15em;
}
#laptop > label{
    font-size: 0.8em;
}

/*#endregion */

/*#region selected-laptop */

#selected-laptop {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    max-height: 175px;
}

#laptop-image-container {
    display: flex;
}

#laptop-image {
    max-height: 150px;
    display: flex;
    align-self: center;
    margin-left: 10px;
}

#laptop-title-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

#laptop-description {
    font-size: 0.8em;
}

#laptop-price-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#laptop-price-buynow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    max-width: 50%;
}

#laptop-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    margin: 10px 0px;
}

#buy-now-button {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #4cc9f1;
    font-weight: 600;
}

/*#endregion */

/*#region media query */

@media (max-width: 600px) {
    body {
        display: grid;
        width: 100vw;
        height: 100vw;
        grid-template-columns: 100%;
        grid-template-rows: 0.3fr 2fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #bank {
        grid-column-start: 1;
        grid-row-start: 2;
        min-height: 150px;
        width: 16.5em;
        justify-self: center;
    }
    #work {
        grid-column-start: 1;
        grid-row-start: 3;
        max-height: 200px;
        width: 16.5em;
        justify-self: center;
    }
    #laptop {
        grid-column-start: 1;
        grid-row-start: 4;
        width: 16.5em;
        justify-self: center;
    }
    #selected-laptop {
        grid-column-start: 1;
        grid-row-start: 5;
        flex-direction: column;
        align-content: center;
        min-height: 400px;
        width: 16.5em;
        justify-self: center;
    }
    #laptop-price-buynow {
        flex-direction: column;
    }
    #laptop-image-container {
        padding-top: 15px;
        align-self: center;
    }
    #laptop-title-description {
        align-self: center;
    }
    #laptop-price-buynow {
        align-self: center;
    }
}

@media (min-width: 1000px) {
    body {
        width: 80vw;
        margin: 0 auto;
        max-width: 1000px;
    }
}

/*#endregion */